In [2]:
# 10, tuple:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
x = [i for i in tuple1 if i == 50]
print("the element 50 occurs", len(x), "times")

the element 50 occurs 3 times

In [6]:
#9, creation of new tuple from new tuple:
tuples = (10, 20, 43, 54, 56, 68)
print(tuples)
tuples =  43,54
print(tuples)

(10, 20, 43, 54, 56, 68)
(43, 54)

In [1]:
#8. Write a Python program to change Brad’s salary to 8500 in the following dictionary.

emp1 = {"'name': 'John', 'salary': 7500"}
emp2 = {"'name': 'Emma', 'salary': 8000"}
emp3 = {"'name': 'Brad', 'salary': 500"}
emp3.update(emp2)
print("Merged Dictionary",emp3)

Merged Dictionary {"'name': 'Brad', 'salary': 500", "'name': 'Emma', 'salary': 8000"}

In [8]:
#7.rename a key city to a location:

sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
sample_dict['location']=sample_dict['city']
del sample_dict['city']
print("After changing the key city to location")
sample_dict

After changing the key city to location

{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

In [10]:
#6. to insert a number to any position in a list


lst = ["12,23,45,56,34,78,9,12"]
print(lst)
insertItem = "69,77"
lst.insert(0, insertItem)
print(lst)

['12,23,45,56,34,78,9,12']
['69,77', '12,23,45,56,34,78,9,12']

In [11]:
#5.area of circle:


r=int(input("Enter radius of the circle"))
area = 3.14*r*r
print("Area of circle with radius",r,"is",area)

Enter radius of the circle7
Area of circle with radius 7 is 153.86

In [12]:
#4.to display the follows“Learn**Python** by Developing a **Website**”:

lst = ["Learn", "Python",  "by Developing", "Website"]
print(lst)
insertItem = "***"
lst.insert(0, insertItem)
print("Learn**Python** by Developing a **Website**:")
print(lst)

['Learn', 'Python', 'by Developing', 'Website']
Learn**Python** by Developing a **Website**:
['***', 'Learn', 'Python', 'by Developing', 'Website']

In [16]:
#3. to accept two numbers from the user and display its product.


num_1 = 8
num_2 = 7
product = num_1 * num_2
print("Product of {} and {} is {}".format(num_1, num_2,product))

Product of 8 and 7 is 56

In [2]:
#2. to convert temperatures to and from Celsius Fahrenheit. 

celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 1.8) + 32
print(str(celsius )+ " degree Celsius is equal to " + str(fahrenheit )+ " degree Fahrenheit.")

Enter temperature in celsius: 67
67.0 degree Celsius is equal to 152.60000000000002 degree Fahrenheit.

In [ ]:
#1.to accept the details of a student like name, roll number and mark and display it.
    
class student :
    def getData(self,rn,name,m1):
        self.rn = rn
        self.name = name
        self.marks.append(m1)
    
    def displayData(self):
        print("Roll Number is:", Self.rn)
        print("Name is:",self.name)
        print("marks",self.mark)
        print("marks are:",self.marks)
        
    def _init_(self,):
        return(self.marks[0])
        
    
rn = int(input("enter the roll number:"))
name = input("enter the name:")
m1 = int(input("enter the marks:"))
    

st1.getData(rn,name,m1)
st1.displayData()